<div ng-controller="BudgetController" class="expenses">
  <div class="ui-layout-center">
    <div id="budget-amounts" class="exp-splits">
      <table>
        <tr>
          <th>Account</th>
          <th align='right'>Budgeted</th>
          <th align='right'>Actual</th>
          <th align='right'>Diff</th>
          <th align='right'>%</th>
        </tr>
        <tr ng-repeat="ba in budget.amounts.budgeted">
          <td>{{ ba.name }}<span ng-show='!ba.in_budget'>*</span></td>
          <td class="money" align='right'>{{ fmtMoney(ba.budgeted) | currency }}</td>
          <td class='clickable' onclick="openSplits()" class="money" align='right' ng-click="selected($parent.$index, $index); loadBudgetSplits(ba.qualified_name)">
            {{ fmtMoney(ba.actual) | currency }}
          </td>
          <td class="money" align='right'>{{ fmtMoney(ba.budgeted - ba.actual) | currency }}</td>
          <td class="money" align='right'>{{ fmtPercent(ba.actual, ba.budgeted) }}</td>
        </tr>
        <tr ng-repeat="ba in budget.amounts.unbudgeted">
          <td>{{ ba.name }}<span ng-show='!ba.in_budget'>*</span></td>
          <td class="money" align='right'>{{ fmtMoney(ba.budgeted) | currency }}</td>
          <td class='clickable' onclick="openSplits()" class="money" align='right' ng-click="selected($parent.$index, $index); loadBudgetSplits(ba.qualified_name)">
            {{ fmtMoney(ba.actual) | currency }}
          </td>
          <td class="money" align='right'>{{ fmtMoney(ba.budgeted - ba.actual) | currency }}</td>
          <td class="money" align='right'>{{ fmtPercent(ba.actual, ba.budgeted) }}</td>
        </tr>
        <tr>
          <td><b>Total</b></td>
          <td class="money" align='right'>{{ fmtMoney(budget.totals.budgeted) | currency }}</td>
          <td class="money" align='right'>{{ fmtMoney(budget.totals.actuals.total) | currency }}</td>
          <td class="money" align='right'>{{ fmtMoney(budget.totals.budgeted - budget.totals.actuals.total) | currency }}</td>
          <td class="money" align='right'>{{ fmtPercent(budget.totals.actuals.total,budget.totals.budgeted) }}</td>
        </tr>
        <tr>
          <td><b>Total Budgeted</b></td>
          <td class="money" align='right'></td>
          <td class="money" align='right'>{{ fmtMoney(budget.totals.actuals.budgeted) | currency }}</td>
          <td class="money" align='right'>{{ fmtMoney(budget.totals.budgeted - budget.totals.actuals.budgeted) | currency }}</td>
          <td class="money" align='right'>{{ fmtPercent(budget.totals.actuals.total,budget.totals.budgeted) }}</td>
        </tr>
        <tr>
          <td><b>Total Unbudgeted</b></td>
          <td class="money" align='right'></td>
          <td class="money" align='right'>{{ fmtMoney(budget.totals.actuals.unbudgeted) | currency }}</td>
          <td class="money" align='right'></td>
          <td class="money" align='right'></td>
        </tr>
      </table>
    </div>
  </div>
</div>
